.header {
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  height: 95vh;
  -webkit-clip-path: polygon(0 100%, 100% 75vh, 100% 0%, 0% 0%);
  clip-path: polygon(0 100%, 100% 75vh, 100% 0%, 0% 0%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__logo {
    height: 35px;
  }

  &__text-box {
    @include centercenter;
    text-align: center;
  }
}
